@import '../components/graph-display/graph-display';
@import '../components/results-table/results-table';
@import '../components/loader/loader';
@import '../components/single-node-viewer/single-node-viewer';
@import '../components/data-table/data-table';
@import '../components/data-panel/data-panel';
@import '../components/header/header';
@import '../components/modal/modal';
@import '../components/icon-input/icon-input';
@import '../components/search-autocomplete/search-autocomplete';

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	overflow-y:hidden;
}

option {
	color: black;
}

a {
	text-decoration: none;
}

.text-normal {
	font-weight: normal;
	color: black;
}

* {
	&::-webkit-scrollbar {
		width: 7px;
	}

	&::-webkit-scrollbar-thumb
	{
	  border-radius: 10px;
	  -webkit-box-shadow: inset 0 0 6px rgba(189, 189, 189, 0.3);
	  background-color: rgb(153, 153, 153);
	}
}